@model SchoolMangmentSystemCore.Models.teacher

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">Create New Teacher</h1>


<hr class="text-center bg-primary" style="width:100px" />

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label asp-for="TechFirstName" class="control-label"></label>
                <input asp-for="TechFirstName" class="form-control" />
                <span asp-validation-for="TechFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TechLastName" class="control-label"></label>
                <input asp-for="TechLastName" class="form-control" />
                <span asp-validation-for="TechLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" class="form-control">
                    <option value="">Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mobile" class="control-label"></label>
                <input asp-for="mobile" class="form-control" />
                <span asp-validation-for="mobile" class="text-danger"></span>
            </div>
        </div>
        
            <div class="col-4 offset-4">
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
</form>
   





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
